<launch>

  <!-- Load Gazebo with your custom house world -->
  <arg name="world_name" default="/home/dronedojo/courseRoot/ardupilot_gazebo/worlds/house_aruco_world.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true"/>
  </include>

</launch>

